@model Movie

@{
    ViewData["Title"] = Model.Title;
}

<div class="row justify-content-between mt-60-px">
    <div class="col-md-3" style="max-height: 500px; overflow: hidden;">
        <img src="@($"{FileSettings.ImagesPath}/{Model.Poster}")" class="img-thumbnail" alt="@Model.Title"/>
    </div>
    <div class="col-md-9">
        <div class="d-flex justify-content-between mb-3">
            <h3>@Model.Title</h3>

        </div>
        <div class="mb-2">
            <span class="mt-2">
                <i class="bi bi-star-fill text-warning"></i>
                <span class="text-muted">@Model.Rate.ToString("0.0")</span>
            </span>
        </div>
        <div class="mb-2">
            <span class="text-muted me-3">
                <i class="bi bi-calendar-week"></i>
                @Model.Year
            </span>
            <span class="text-muted">
                <i class="bi bi-film"></i>
                @Model.Genre.Name
            </span>
        </div>
        <p class="mt-3" style="text-align: justify">@Model.StoryLine</p>
    </div>
</div>